<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="FTPLocation" value="c:\filelocation\" />
      <add key="FromDate" value="2013-6-27 13:47:45.000" />
      <add key="ToDate" value="2013-6-28 13:55:24.000" />
      <add key="WorkGroupID" value="" />
    </appSettings>
<connectionStrings><add name="qmEntities" connectionString="metadata=res://*/QMModel.csdl|res://*/QMModel.ssdl|res://*/QMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BNGECO-L-91741\SQLEXPRESS;initial catalog=qm;persist security info=True;user id=mujeeb;password=qqq;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>