
@media(max-width: 502px)  {
    .button-mobile {
        width:100%;
        height:30px;

          text-align: right;
    /*padding-right: 10px;*/
    margin-top: 79px;
    }
}
@media(min-width: 502px)  {
    .button-mobile {

        background:blue;
         display:none;
    }
}
@media(max-width: 502px) {
    .normal-view{
        display:none;
    }
}

/* Begin: Media queries */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 767px) {
    .responsive-dropdown {
        left: 0% !important;
        top: 40px !important;
    }

    .page-filter .filter-action {
        margin-top: inherit !important;
    }

    /*.top-filter-but-pull{
        float:left !important;
    }*/
    .pull-right-lg-md {
        float: left !important;
    }

    .page-filter .filter-action {
        margin-top: 0px !important;
    }

    .search-export {
        margin-top: 15px;
    }
}



/* Extra Small Devices, Phones */
@media(min-width : 480px) {
    .responsive-dropdown {
        left: 0% !important;
        top: 40px !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .vertical-centre {
        /*margin-top: 26px;*/
        /*margin-top: 38px;*/
        margin-top: 19px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* End: Media queries */

.page-header.navbar .page-logo .logo-default {
    margin: 2px 10px 0 35px;
    width: 95px;
}

.state-map-tooltip {
    width: Auto;
    margin: 0 auto;
    text-align:left;
}

.page-filter {
    margin-bottom: 10px;
}

    .page-filter .filter-action {
        margin-top: -40px;
    }

/*.top-filter-but-pull{
        float:right;
    }*/
.pull-right-lg-md {
    float: right;
}


.clusteredBarChartLegenddiv {
    /*border: 2px dotted #3f3;*/
    /*margin: 5px 0 20px 0;*/
    height: 100px !important;
    height: 53px !important;
      /*height:60px !important;*/
    overflow: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin-top: 18px;*/
}
.clusteredBarChartLegenddiv1 {
    /*border: 2px dotted #3f3;*/
    /*margin: 5px 0 20px 0;*/
    height: 53px !important;
      /*height: 53px !important;*/
    overflow: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin-top: 18px;*/
}
.clusteredBarChartLegenddiv2 {
    /*border: 2px dotted #3f3;*/
    /*margin: 5px 0 20px 0;*/
    height: 60px !important;
      /*height: 53px !important;*/
    overflow: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin-top: 18px;*/
}

.small-text {
    font-size: 10px !important;
}

.clusteredBarChartLegenddiv::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-button {
    background: #ccc;
}

::-webkit-scrollbar-track-piece {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #eee;
}


/* Begin: Filter dropdown */
.dropdown-menu {
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
    opacity: 0;
    max-height: 0;
    display: block;
    overflow: hidden;
}

.open .dropdown-menu {
    opacity: 1;
    max-height: 507px;
}

    .open .dropdown-menu:hover {
        overflow: inherit !important;
    }

.slide-menu {
    transform: translateX(100px);
    opacity: 0 !important;
}

.dropdown-submenu:hover .slide-menu {
    transform: translateX(0%);
    opacity: 1 !important;
}

.dropdown-menu.no-arrow {
    margin-top: 0px;
}

.btn-group > .dropdown-menu.no-arrow:after {
    border-bottom: none;
}

.btn-group > .dropdown-menu.no-arrow:before {
    border-bottom: none;
}

.animated-dropdown .dropdown-toggle .fa-chevron-circle-left {
    transition: all 0.5s;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.animated-dropdown.open .dropdown-toggle .fa-chevron-circle-left {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.right-menu.dropdown-submenu > .dropdown-menu:not(.responsive-dropdown) {
    left: -100% !important;
}

.right-menu.dropdown-submenu > a:after {
    content: "\f104";
    right: 0;
    left: 8px;
}

.dropdown-menu li > a {
    padding: 8px 22px;
}

.selected-option {
    background-color: gainsboro;
}

/* End: Filter dropdown */

.toggle-switch {
    margin-top: -21px;
    /*margin-right: 30px;*/
}

    .toggle-switch .switch-right {
        padding-right: 14px;
    }


.amcharts-legend-div {
    overflow-y: auto !important;
    max-height: 100%;
}

.page-toolbar label {
    /*color: #e4ebef;
    font-size: 14px;
    */
    color: #ecac51; /*#a4a8ab;*/
    font-size: 16px;
    font-weight: 400;
}

/* Begin: Revenue Report*/

.group-by {
    float: left;
    padding-top: 6px;
    margin-right: 10px;
}

.select-box {
    float: left;
    padding-left: 0;
    width: 150px;
}

.devider {
    float: left;
    padding-top: 6px;
    padding-right: 10px;
}

.view {
    float: left;
    margin-right: 10px;
    padding-top: 6px;
}

.view-input {
    width: 80px;
    float: left;
    margin-right: 10px;
}

.records {
    float: left;
    padding-top: 6px;
}

.btn-sm-new {
    padding: 4px 14px 4px 14px !important;
    margin-left: 10px !important;
}

@media (min-width: 320px) and (max-width:767px) {
    .group-by {
        float: left;
        padding-top: 6px;
        margin-right: 10px;
        width: 80px;
    }

    .select-box {
        float: left;
        padding-left: 0;
        width: 150px;
    }

    .devider {
        float: left;
        padding-top: 6px;
        padding-right: 10px;
    }

    .view {
        float: left;
        margin-right: 10px;
        padding-top: 6px;
        /*width: 80px;*/
    }

    .view-input {
        width: 150px;
        float: left;
        margin-right: 10px;
    }

    .records {
        float: left;
        padding-top: 6px;
    }

    .download-grid-btn {
        text-align: center;
    }

    .btn-sm-new {
        margin-left: 0px !important;
    }
}
/* End: Revenue Report*/

/* Begin: Smart table*/
[data-st-sort] {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}

.st-sort-ascent {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

.st-sort-descent {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}


.th-head {
    min-width: 80px;
}

.th-head-two {
    min-width: 125px;
}

.th-head-three {
    min-width: 180px;
}

.boarder-div {
    position: absolute;
    margin-top: -5px;
    float: left;
    width: 2px;
    height: 30px;
    margin-right: 20px !important;
}

.highlight .boarder-div {
    border-left: 2px solid #45B6AF;
}
/* End: Smart table*/

.clickable-submenu.close {
    display: none !important;
}

.clickable-submenu.open {
    display: block !important;
}

.user-manager-tools {
    float: right;
    margin-left: 20px !important;
    margin-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #f7723e !important;
    border-color: #f95f22 !important;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        /*color: #fff;
  background-color: #286090;
  border-color: #204d74;*/
        color: #fff;
        background-color: rgba(151, 44, 2, 0.82) !important;
        border-color: rgba(151, 44, 2, 0.82) !important;
    }

.font-green-haze {
    color: #77A51C !important;
}

.portlet.light > .portlet-title > .caption {
    /*color:#77A51C !important;*/
    color: #ec971f !important;
    padding: 10px 0;
    font-weight: 600;
}

.portlet-body .row .col-sm-9 {
    padding-right: 0px;
}

.portlet-body .row .gauge-area .portlet-title {
    display: none;
}

@media (max-width: 511px) {
    .portlet.light .portlet-body .gauge-area {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .portlet.light .portlet-body .gauge-area {
        margin-top: 20px;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    .portlet.light .portlet-body .gauge-area {
        margin-top: 30px;
        margin-left: -10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

#passwordUpdateForm .has-error {
    border: none !important;
}

.password-change-message-box .text-success {
    font-size: 20px;
}

.password-change-message-box .error {
    color: #a94442;
}

/*for side nav bar (green):begin*/
/*.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    color: #77a51c !important;
}
 .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
   color: #77a51c !important;
}

 .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    color: #77a51c !important;
}
 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active.open > a > i {
    color: #77a51c !important;
}
 .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
   color: #77a51c !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a {
    border-left: 3px solid #77a51c !important;
}

 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
    color: #77a51c !important;
}
 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
    color: #77a51c !important;
}
 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
    color: #77a51c !important;
}

    */
/*for side nav bar (green) :end*/

/*for side nav bar (orange):begin*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    color: #f77845 !important;
}

    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #f77845 !important;
    }

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    color: #f77845 !important;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active.open > a > i {
        color: #f77845 !important;
    }

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    color: #f77845 !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a {
    border-left: 3px solid #f77845 !important;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: #f77845 !important;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
    color: #f77845 !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
    color: #f77845 !important;
}


/*for side nav bar (orange) :end*/

/*@media(min-width : 1200px)*/
@media(min-width : 1200px) and (max-width:1588px)
/*@media only screen and (min-width : 1200px) and  (max-width : 1338px)*/
{
    .forecast-value-unit {
        font-size: 12px;
        position: relative;
        bottom: 17px;
        /*left: 82px;*/
        margin-left: 50px;
    }

    .forecast-value-value {
        margin-left: 20px;
        display: inherit; /*to wrap down the dic at this media query*/
    }
}

.font-light-orange-haze {
    color: #ec971f !important;
}

.btn-search {
    color: #fff;
    background-color: #77A51C !important;
    border-color: #77A51C !important;
}

/*body {
    background-image: url("..\assets\global\img\login\5.jpg");

} */

.page-head .page-title > h1 {
    color: #697882 !important;
}

    .page-head .page-title > h1 > small {
        color: #9eacb4 !important;
    }

.portlet-body .btn {
    padding-right: 16px;
    padding-left: 16px;
}

    .portlet-body .btn .fa {
        padding-right: 5px;
    }

.report-title .btn {
    padding-right: 16px;
    padding-left: 16px;
}

    .report-title .btn .fa {
        padding-right: 5px;
    }

@media only screen and (min-width : 320px) and (max-width : 355px) {
    .margin-top-xs {
        margin-top: 6px;
    }
}

.nogales-title {
    position: absolute;
    color: white;
    z-index: 99999;
    font-size: 43px;
    /*margin-left: 59px;*/
    margin-top: 8px;
    font-weight: 700;
}

/*.nogales-header {
     background-image: url(../../../assets/global/img/header1.png) !important;
     height: 100%;
     background-size: cover;
     background-position-x: 284px;
     background-repeat: no-repeat;
}*/

/*.nogales-header {
    background: #262734;
    box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.5);
    -moz-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.5);
    -webkit-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.5);
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}*/


.nogales-header {
    background-image: url(../../../assets/global/img/header1.png) !important;
     background-size: cover;
     background-position-x: 284px;
     background-repeat: no-repeat;
    box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.5);
    -moz-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.5);
    -webkit-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.5);
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

@media only screen and (max-width : 530px) {
    .nogales-header {
        /*background-image: url(../../../assets/global/img/header1.png) !important;*/
        height: 100%;
        background-size: cover;
        background-position-x: 118px;
        background-repeat: no-repeat;
    }

    .nogales-title {
        position: absolute;
        color: white;
        z-index: 99999;
        font-size: 18px;
        /*margin-left: -11px;*/
          margin-left: 4px;
        margin-top: 24px;
        font-weight: 700;
    }
}

@media only screen and (min-width : 531px) and (max-width : 700px) {
    .nogales-header {
        /*background-image: url(../../../assets/global/img/header1.png) !important;*/
        height: 100%;
        background-size: cover;
        background-position-x: 156px;
        background-repeat: no-repeat;
    }

    .nogales-title {
        position: absolute;
        color: white;
        z-index: 99999;
        font-size: 21px;
        margin-left: 59px;
        margin-top: 21px;
        font-weight: 700;
    }
}

@media only screen and (min-width : 701px) and (max-width : 1000px) {
    .nogales-header {
        /*background-image: url(../../../assets/global/img/header1.png) !important;*/
        height: 100%;
        background-size: cover;
        background-position-x: 167px;
        background-repeat: no-repeat;
    }

    .nogales-title {
        position: absolute;
        color: white;
        z-index: 99999;
        font-size: 32px;
        margin-left: 24px;
        margin-top: 11px;
        font-weight: 700;
    }    
    .page-logo {
        display:none !important;
    }

}

@media only screen and (min-width : 1001px) and (max-width : 1050px) {
    .nogales-title {
        position: absolute;
        color: white;
        z-index: 99999;
        font-size: 34px;
        margin-left: 21px;
        margin-top: 11px;
        font-weight: 700;
    }
}

@media only screen and (min-width : 1051px) {
    .nogales-title {
        position: absolute;
        color: white;
        z-index: 99999;
        font-size: 36px;
        margin-left: 15px;
        margin-top: 8px;
        font-weight: 700;
    }
}

@media only screen and (min-width : 1001px) {
    .nogales-header {
        /*background-image: url(../../../assets/global/img/header1.png) !important;*/
        height: 100%;
        background-size: cover;
        background-position-x: 284px;
        background-repeat: no-repeat;
    }
    /*.nogales-title{
        position: absolute;
    color: white;
    z-index: 99999;
    font-size: 43px;
    margin-left: 59px;
    margin-top: 8px;
    font-weight: 700;
 }*/
}

.has-error {
    /* border: 1px solid #f00; */
    border: 1px solid #e73d4a !important;
}

.help-block-error {
    color: #e73d4a;
}


/*Begin :nav bar tabs orange color*/
/*.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid rgba(247, 114, 62, 0.43) !important;
}
    .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f7723e !important;
}*/
/*End :nav bar tabs orange color*/

.login-container {
    padding: 0px 0px 0px 0px !important;
}

@media (min-width: 992px) {
    .login-body {
        margin-top: -105px !important;
        margin-left: -275px !important;
        margin-right: -20px !important;
    }
}


@media (max-width: 1023px) {
    .login-logo {
        display: none;
    }
}

@media (min-width: 1023px) and (max-width: 1423px) {
    .login-logo {
        width: 125px;
    }
}

.progress-bar.empty{
    background-color:white !important;
}

.progress-bar.right-boundary{
    border-right: 2px solid black;
}

.progress-bar.left-boundary{
    border-left: 2px solid black;
}

.time-frame {
    background-color: #8c8383;
    font-weight: 700;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    font-size: 14px!important;
}

@media (max-width: 768px) {
    .page-logo-mobile {
        background:red !important;
        display:none !important;
    }
}

    @media (max-width:768px){
    .scrool-div{
        overflow:auto;

        }
    }
